<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Well being through art - {{ story.name }}</title>

  {%- include 'advanced_meta_tags' -%}

  {% if proxy_mode %}
    <link href="{{ 'assets/css/above.css' | asset_url }}" rel="stylesheet">
  {% else %}
    <style>{%- include 'above_fold_css' -%}</style>
  {% endif %}

  <link rel="preload" id="stylesheet" href="{{ 'assets/css/below.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
</head>
<body>
  {% spaceless %}

  {%- assign locale = story.full_slug | slice: 0,2 -%}
  {%- if locale != 'de' and locale != 'en' -%}
      {%- assign locale = 'en' -%}
  {%- endif -%}

  {%- assign global_slug = locale | append: '/global' -%}

  {% set global from story id:global_slug %}

  {% include 'icon' %}

  <a id="top" class="u__vis-hidden" href="#main">Skip to main content</a>

  <header class="header">
    <div class="container header__container">
      <div class="header__logo">
        <a href="/">
          <img alt="Logo" class="header__logo-img" src="{{ 'assets/images/logo.png' | asset_url }}">
          <img alt="Logo small" class="header__logo-img--sm" src="{{ 'assets/images/logo_small.png' | asset_url }}">
        </a>
      </div>

      <nav class="header__nav" role="navigation">
        <a class="navbar__btn js-open-nav-btn" href="#top"><svg class="icon"><use xlink:href="#icon-navi"></use></svg></a>
        <ul class="navbar navbar--dt">
          {% for item in global.content.header %}
            <li{% if story.uuid == item.link.id %} class="navbar__item--active"{% endif %}><a href="{{ item.link | url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>

    </div>
    <ul class="navbar navbar--mobile">
      {% for item in global.content.header %}
        <li{% if story.uuid == item.link.id %} class="navbar__item--active"{% endif %}><a href="{{ item.link | url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </header>

  <main id="main" role="main">
    {% include story.content.component with blok: story.content, title: story.name, date: story.created_at %}
  </main>

  {{ global.content._editable }}
  <footer>
    {% for item in global.content.footer %}
      {% include item.component with blok: item %}
    {% endfor %}
  </footer>

  {% endspaceless %}

  {% if story.content._editable %}
    <script type="text/javascript" src="//app.storyblok.com/storyblok-latest.js"></script>
    <script type="text/javascript">

      storyblok.init({
        accessToken: '{{ public_token }}'
      });

      storyblok.on('change', function() {
        location.reload(true);
      });

      storyblok.pingEditor(function() {
        if (storyblok.inEditor) {
          storyblok.enterEditmode();
        }
      });

    </script>
  {% endif %}


  <script type="text/javascript">
  !function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f),i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media="only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
  !function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(b){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lory.js/2.4.2/lory.min.js"></script>
  <script async type="text/javascript" src="{{ 'assets/js/scripts.js' | asset_url }}"></script>
</body>
</html>
